.background{
	background-color: #ffe6e6;
}
.header {
  padding: 10px;
  text-align: center;
  background: orange;
  color: black;
  font-size: 20px;
  text-decoration: none;
  
}
.zaglavie{
	text-decoration: none;
	font-size: 30px;
	color:white;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}