.motori{
	margin: 20px;

}	
#crf-snimka{
	position: relative;
	left:60px;

	}
	
	


#buttoncrf{
	position: relative;
	top:30px;
	right:215px;
    padding: 10px;
    background:orange;
    text-decoration:none;
    border-style: solid;
    text-decoration:none;
    border-color: black;
    color: black;

}
#rmz-snimka{
	position:relative;
	right:85px;
}
#buttonrmz{
padding: 10px;
    background:orange;
    text-decoration:none;
    border-style: solid;
    border-color: black;
    position:relative;
    top:30px;
    right: 368px;
    color: black;
}
#kx-snimka{
	position:relative;
	right: 230px;
	
}
#buttonkx{
	padding: 10px;
    background:orange;
    text-decoration:none;
    border-style: solid;
    border-color: black;
 color: black;
 position:relative;
 right: 520px;
 top: 30px;
}
#sx-snimka{
	position: relative;
	left: 1300px;
	bottom: 185px
}
#buttonsx{
	padding: 10px;
    background:orange;
    text-decoration:none;
    border-style: solid;
    border-color: black;
 color: black;
 position: relative;
 left: 1035px;
 bottom: 155px;
}